@font-face {
    font-family: 'Manrope_Light';
    src: url('/assets/fonts/Manrope-Light.ttf');
}

@font-face {
    font-family: 'Manrope_ExtraLight';
    src: url('/assets/fonts/Manrope-ExtraLight.ttf');
}

@font-face {
    font-family: 'Manrope_Regular';
    src: url('/assets/fonts/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'Manrope_Medium';
    src: url('/assets/fonts/Manrope-Medium.ttf');
}

@font-face {
    font-family: 'Manrope_SemiBold';
    src: url('/assets/fonts/Manrope-SemiBold.ttf');
}

@font-face {
    font-family: 'Manrope_Bold';
    src: url('/assets/fonts/Manrope-Bold.ttf');
}

@font-face {
    font-family: 'Manrope_ExtraBold';
    src: url('/assets/fonts/Manrope-ExtraBold.ttf');
}
