// -------- Light Colors --------
$primary_color: #C69C6D; 
$light_gold: #ECBE8D; 
$warm_beige: #D3C4B7; 
$light_cream: #EAE1DB;
// -------- Dark Colors --------
$dark_brown: #4F453B;
$deep_brown: #2D2925;
$near_black: #16130F;
// -------- Normal Colors -------
$black: #121212; 
$white: white;
